img{
    max-width: 100%;
    min-width: 100%;
}
.name{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    width:100%;
    text-align:center;
}
.counter{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    min-width:100%;
    text-align:center;
}